/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/*---------------------------------- navbar ----------------------------------------------*/
/* .navbar{
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 0 0.5px orange;
}
.logo a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.menu{
  display: flex;
}
.menu li{
  list-style: none;
}
.menu li a{
text-decoration: none;
padding: 0 20px;
color: black;
display:inline-block;
font-size: 18px;

}
.menu li a:after{
  content: "";
  display: block;
  height: 4px;
  width: 0%;
  background:rgb(192, 125, 0);
  transition: all 0.3s ease;

}
.menu li a:hover:after{
  width: 100%;
} */

nav ul li a {
  padding: 0px 20px !important;
  color: black;
}
nav ul li a:after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background:rgb(192, 125, 0);
  transition: all 0.3s ease;
}
nav ul li a:hover:after{
  width:100%;
}
.navbar-brand{
  font-size:40px;
}
.navbar-brand img{
  margin: 0 10px;
}
/*---------------------------------- Home--------------------------------------------- */
#home{
display: flex;
height: calc(100vh - 190px);
align-items: center;
justify-content: center;

}
.home-img{
  width: 40%;
}
.home-img img{
  max-width: 800px;
  height: auto;
}
.home-content{
  width: 30%;
align-items: center;
justify-content: center;
}
.home-content h1{
  font-size:50px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
.home-content h1 span{
  color: rgb(192, 125, 0);
}
.home-content h2{
  font-size: 30px;
  font-weight: normal;
  line-height:45px;
  margin: 50px 0 30px 0;
}

/*----------------------- button-------------------- */
.donate-btn{
  width: 170px;
  height: 60px;
  color:white;
  border: none;
  background-color: rgb(192, 125, 0);
  border-radius: 5px;
box-shadow:inset 0 0 0 0 orange;
transition: all 0.3s ease;
font-size: 1.7rem;
outline: none;
text-transform: uppercase;

}
.donate-btn:hover{
  box-shadow: inset 170px 0 0 0 orange;
  color: black;
  cursor: pointer;
}


/* --------Contact---------- */
#contact{
display: grid;
place-items: center;

}

.title h3{
  text-transform: uppercase;
  font-size:20px;
  letter-spacing:4px;

  margin:20px 0;
}

.wrapper{
  margin: 0 20px 0;
}
.wrapper a{
  text-decoration: none;
  color: black;
}
.wrapper .button{
  display: block;
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 10px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(192, 125, 0,0.7);
  transition: all 0.3s ease-out;

}
.wrapper .button:hover{
  width: 130px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button{
  text-decoration: none;
}
.wrapper .button .icon{
  text-decoration: none;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #00ADB5;
}
.wrapper .button:nth-child(2):hover .icon{
  background:#4267B2;
}
.wrapper .button:nth-child(3):hover .icon{
  background:  #1DA1F2;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #2867B2;
}
.wrapper .button:nth-child(6):hover .icon{
  background: #ff0000;;
}

.wrapper .button .icon i{
  font-size: 25px;
  line-height: 40px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  margin-left: auto;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span{
  color: #00ADB5;
}

.wrapper .button:nth-child(2) span{
  color: #4267B2 ;
}
.wrapper .button:nth-child(3) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(4) span{
  color: #E1306C;
}
.wrapper .button:nth-child(5) span{
  color: #2867B2;
}
.wrapper .button:nth-child(6) span{
  color: #ff0000;
}







/* --------------------Responsive------------------ */

@media (max-width:768px){
  .home-content{
   width: 100%;
    align-items: center;
justify-content: center;
  }
  .home-content h1{
    
    font-size:30px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .home-content h2{
    font-size: 15px;
    font-weight: normal;
    line-height:30px;
    margin: 30px 20px 10px 20px;
  }
.home-img{
 width: 100%;
}
  .home-img img{
    max-width: 500px;
    height: 200px;
  }
  #home{
    /* display:block; */
    flex-wrap: wrap;
    
    text-align: center;
  }
  .donate-btn{
    height: 40px;
    width: 100px;
    font-size:1.1rem;
  }
  .navbar-brand{
    font-size:20px !important;
    margin: 15px 0;
  }
 .navbar-brand img{
   height:30px
 }
 nav ul li a{
   margin:5px 0;
 }
 .wrapper .button{
   height: 25px;
   width: 25px;
 }
 .wrapper .button .icon{
  height: 25px;
  width: 25px;
  line-height: 25px;
}
.wrapper .button .icon i{
  font-size: 15px;
  line-height: 25px;
}
.wrapper .button span{
  line-height: 25px;
font-size: 10px;
margin-left: 0px;
font-weight: normal;
}
.wrapper .button:hover{
  width: 90px;
}
}