@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(218, 218, 218);
    font-family: 'Open Sans', sans-serif;
}
.container{
  
    text-align: center;
    /* border: 2px solid red; */
    width: 37%;
    height: 80vh;
    background-color:#fcfcfc;

    position: absolute;
  left: 30%;
  top: 10%;

  border-radius:30px;
  /* border: 1px solid rgba(0,0,0,0.4); */
  box-shadow: 0px 8px 8px  rgba(0,0,0,0.4);
}
.container img{
    height: 200px;
    
}
.container h1{
    font-size:50px;
    color: green;
    margin-bottom: 40px;

}
.container h2{
    font-size: 30px;
    font-weight: 400;
    margin: 20px 0 50px 0;
    padding: 25px;
    font-weight: lighter;
}
.container span{
    font-size: 20px;
    font-weight: lighter;
}

@media (max-width:1200px){
    .container img{
        height: 180px;
        
    }
    .container h1{
        font-size:40px;
        margin-bottom: 35px;
    
    }
    .container h2{
        font-size: 25px;
        font-weight: lighter;

    }
    .container span{
        font-size: 18px;
        font-weight: lighter;
    }
}

@media (max-width:800px){
    .container{
        width: 45%;
    }
    .container img{
        height: 160px;
        
    }
    .container h1{
        font-size:35px;
        margin-bottom: 35px;
    
    }
    .container h2{
        font-size: 25px;
        font-weight: lighter;

    }
    .container span{
        font-size: 20px;
        font-weight: lighter;
    }
}
@media (max-width:450px){
    .container{
        width: 80%;
        left: 10%;
height: 75vh;
    }
    .container img{
        height: 130px;
        
    }
    .container h1{
        font-size:30px;
        margin-bottom: 35px;
    
    }
    .container h2{
        font-size: 25px;
        font-weight: lighter;

    }
    .container span{
        font-size: 16px;
        font-weight: lighter;
    }
}